.nav-heading {
	/*background-color: #b200ff;*/
	font-size: xx-large;
	font-weight: 700;
	padding: 10px 10px 0px 10px;
}

.flex-container {
	display: flex;
	background-color: #7944ff;
	flex-wrap: wrap;
}

.flex-container > a {
	background-color: #f1f1f1;
	margin: 10px;
	width: 200px;
	padding: 0px 5px 5px 5px;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
}

.flex-container > div {
	background-color: #f1f1f1;
	margin: 10px;
	width: 200px;
	padding: 0px 5px 5px 5px;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
}
